.parent{
  position: relative;
}
.btn-position{
  position: absolute;
  bottom: 28px;
  left: 40px;
  z-index: 1;
}
.overlay{
  position: absolute;
  bottom: 189px;
  z-index: 2;
  background-color: #0B0B0B80;
}
img{
  object-fit: cover;
}