.parent{
  position: relative;
}
.btn-position{
  position: absolute;
  bottom: 28px;
  left: 40px;
}
.overlay{
  position: absolute;
  bottom: 189px;
  width: 1600px;
  height: 120px;
  background-color: #0B0B0B80;
}